body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #2b2a33;
    color: white;
    overflow-x: hidden;
}

button {
    background-color: #e66a66;
    color: #2b2a33;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    margin: 50px;
    border-radius: 25%;
    background: linear-gradient(#e66465, #9198e5);
}